#root {
  position: relative;
  background-color: #000;
}
.layout-main {
  width: 100%;
  height: 100vh;
  /* background-color: var(--bg-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.layout-main:before {
  content: "";
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  filter: blur(15px);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.movie-card {
  width: 50%;
  height: clamp(350px, 50vh, 450px);
  z-index: 2;
  background-color: var(--txt-white);
  border-radius: 12px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-inner .card-image {
  width: 40%;
  height: 100%;
}
.card-inner .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 12px 12px 0;
}
.card-inner .card-content {
  width: 60%;
  height: 100%;
  position: relative;
  border-radius: 12px 0 0 12px;
}
.card-content::after {
  content: "";
  width: 220px;
  height: 100%;
  /* background: linear-gradient(to right, #2882d4 15%, transparent); */
  position: absolute;
  left: 100%;
  top: 0;
}
.card-inner .card-content .card-content-sec {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: clamp(350px, 50vh, 450px);
  overflow-y: auto;
}
.card-inner .card-content .card-content-sec::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

.card-inner .card-content .card-content-sec::-webkit-scrollbar-track {
  border-radius: 10px;
}
.card-inner .card-content .card-content-sec::-webkit-scrollbar-thumb {
  background: #d5d5ff3d;
  border-radius: 5px;
}
.card-inner .card-content .card-content-sec::-webkit-scrollbar-thumb:hover {
  background: #4c4c6d3d;
}
.card-inner .card-content .card-content-sub {
  padding: clamp(1rem, 1vw, 2rem);
}
.card-inner .card-content .card-content-sub h2 {
  font-family: "Bebas Neue", cursive;
  font-size: clamp(3rem, 4vw, 4rem);
  letter-spacing: 4px;
}
.card-inner .card-content .card-content-sub p {
  margin-bottom: 8px;
  font-size: clamp(0.8rem, 1vw, 1rem);
}
.card-inner .card-content .card-content-sub .plot {
  margin: 30px 0 8px 0;
}
.card-inner .card-content .card-content-sub .highlight {
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 0 10px 0 0;
  padding: 4px;
}
.searchbox {
  width: 100%;
  z-index: 2;
  margin-bottom: clamp(1rem, 1vw, 2rem);
  text-align: center;
}
.searchbox input {
  width: 47%;
  background: none;
  border: 1px solid #3d3d3d;
  padding: 10px;
  outline: none;
  color: #fff;
  font-size: clamp(0.9rem, 1.2vw, 1.3rem);
  border-radius: 5px;
}
.searchbox input::placeholder {
  color: #fff;
  opacity: 0.7;
}
.notfound {
  margin: 0 0 0 10px;
  color: crimson;
}
